<h3>
    {{ 'Player directory thingy'|trans }}
</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron game-option" trk-go="/player-list">
            <h2>{{ 'Show list'|trans }}</h2>
            <p>{{ 'Display list of Steam profiles looking for Dirty Bomb buddies'|trans }}</p>
            <button class="btn btn-primary btn-lg" role="button">{{ 'Show list'|trans }}</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron game-option" trk-go="/steam-login">
            <h2>{{ 'Add/Edit your entry'|trans }}</h2>
            <p>{{ 'Add, edit or remove your existing entry'|trans }}</p>
            <button class="btn btn-primary btn-lg" role="button">{{ 'Add/Edit entry'|trans }}</button>
        </div>
    </div>
</div>